.filters-container {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 48px;
}

@media (max-width: 468px) {
  .filters-container {
    display: flex;
    flex-direction: column;
    height: 20vh;
    padding-left: 0px;
  }
}
